@charset "utf-8";

/**
  * reset
  */

body, p, dl, dt, dd, h1, ul, ol, li, form, input, textarea, button {
  margin: unset;
  padding: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/**
  * base
  */

:root {
  --baseColor: #1a1a19;
  --primaryColor: #6fa4af;
  --bgColor: #fefefe;
  --whiteColor: #fefefe;
  --grayColor: #ababab;
  --grayBgColor: #f5f5f5;
  --attentionColor: #d97d55;
  --primaryColorRGB: rgb(111 164 175 / 0%);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--baseColor);
  font-size: 1rem;
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  line-height: 1.6;
  background-color: var(--bgColor);
}

img,
picture * {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 700;
}


/**
  * link
  */

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:link,
a:visited {
  color: var(--primaryColor);
  text-decoration: underline;
}

a:hover,
a:active {
  color: var(--baseColor);
  text-decoration: none;
}


/**
  * contents
  */

.wrapper {
  margin: 3em auto;
  width: min(90%, 600px);
}

.header {
  margin-bottom: 2em;
}

.back {
  margin-bottom: 2em;
  font-size: 0.85em;
}

h1 {
  margin-bottom: 0.5em;
  color: var(--primaryColor);
  font-size: 1.5em;
  text-align: center;
}

@media screen and (min-width: 740px) {
  .description {
    text-align: center;
  }  
}

.main {
  margin-bottom: 3.5em;
}

/* admin */
.results {
  margin-bottom: 2em;
  text-align: center;
}

.result_data {
  margin-bottom: 2em;
  border-block: 1px solid var(--grayColor);
}

.result_data li {
  padding-block: 2em;
  list-style: none;
}
.result_data li:not(:last-child) {
  border-bottom: 1px dotted var(--grayColor);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ol {
  margin-inline: 1em;
  display: flex;
  justify-content: center;
}

.navigation ol li {
  margin-inline: 1px;
  list-style: none;
}

.navigation ol li a,
.navigation ol li .current {
  font-size: 0.85em;
  line-height: 1;
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ol li a {
  color: var(--primaryColor);
  background-color: var(--grayBgColor);
}

.navigation ol li a:hover,
.navigation ol li .current {
  color: var(--whiteColor);
  background-color: var(--primaryColor);
}

.footer {
  text-align: center;
}

.footer p {
  font-size: 0.85em;
}

.msg {
  font-weight: 700;
}
.msg:has(+ form) {
  margin-bottom: 1.5em;
}

.error {
  color: var(--attentionColor);
}

.success {
  padding: 1em 0.5em;
  color: var(--whiteColor);
  text-align: center;
  background-color: var(--primaryColor);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  animation: 3s fadeOut;
  pointer-events: none;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}


/**
  * form
  */

input, textarea, button {
  color: var(--baseColor);
  font-size: 1rem;
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  line-height: 1.6;
  background-color: transparent;
  border: none;
  border-radius: 0;
  appearance: none;
}

input:focus,
textarea:focus {
  outline: 4px solid var(--primaryColor);
}

input:not([type="radio"]),
textarea {
  padding: 0.25em;
  border: 1px solid var(--baseColor);
  border-radius: 5px;
  width: 100%;
}

textarea {
  height: 7em;
  display: block;
}

input[type="radio"] {
  width: 1px;
  height: 1px;
}

button {
  padding: 0.25em 0.75em;
  color: var(--whiteColor);
  text-align: center;
  background-color: var(--baseColor);
  border-radius: 5px;
  width: 100px;
  transition: all 0.3s;
  cursor: pointer;
}
button:hover {
  background-color: var(--primaryColor);
}

.form_area {
  margin-top: 2em;
  padding-top: 2.5em;
  border-top: 1px solid var(--grayColor);
}

.emoji_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.emoji_list li {
  margin: 0 0.25em 0.5em;
  font-size: 1.25em;
  list-style: none;
}

.emoji_list label {
  padding: 0.25em 0.5em;
  border: 1px solid var(--grayColor);
  border-radius: 100vmax;
  transition: all 0.3s;
  display: block;
  cursor: pointer;
}
.emoji_list label:hover,
.emoji_list label:has(input[type="radio"]:checked) {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}
.emoji_list label:hover {
  animation: ripple 1.5s infinite;
}
.emoji_list label:has(input[type="radio"]:focus) {
  animation: ripple 1.5s ease-out;
}

@keyframes ripple {
  0% { box-shadow: 0 0 0 0 var(--primaryColor); }
  70% { box-shadow: 0 0 0 10px var(--primaryColorRGB); }
  100% { box-shadow: 0 0 0 0 var(--primaryColorRGB); }
}

.form_area dl {
  margin-top: 1.5em;
}

.form_area dt {
  margin-bottom: 0.25em;
  font-weight: 700;
}
.form_area dd + dt {
  margin-top: 1.5em;
}

.form_area .btn_area {
  margin-top: 1.5em;
  text-align: center;
}

/* admin */
.admin .form_area form {
  display: flex;
  align-items: flex-end;
}

.admin .form_area dl {
  margin-right: 0.5em;
  width: calc(100% - 100px - 0.5em);
}

