@charset "utf-8";

/**
  * reset
  */

body, p, dl, dt, dd, h1, ul, ol, li, form, input, textarea, button {
  margin: unset;
  padding: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/**
  * base
  */

:root {
  --baseColor: #1a1a19;
  --primaryColor: #6fa4af;
  --bgColor: #fefefe;
  --whiteColor: #fefefe;
  --grayColor: #999;
  --grayBgColor: #f5f5f5;
  --attentionColor: #d97d55;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--baseColor);
  font-size: 1rem;
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  line-height: 1.6;
  background-color: var(--bgColor);
}

img,
picture * {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 700;
}


/**
  * link
  */

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:link,
a:visited {
  color: var(--primaryColor);
  text-decoration: underline;
}

a:hover,
a:active {
  color: var(--baseColor);
  text-decoration: none;
}


/**
  * contents
  */

.wrapper {
  margin: 3em auto;
  width: min(90%, 600px);
}

.header {
  margin-bottom: 3em;
}

.back {
  margin-bottom: 2em;
  font-size: 0.85em;
}

h1 {
  margin-bottom: 0.5em;
  color: var(--primaryColor);
  font-size: 1.5em;
  text-align: center;
}

.description {
  text-align: center;
}

.main {
  margin-bottom: 3.5em;
}

.gallery_area {
  margin-bottom: 1.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2px;
}

@media screen and (max-width: 739px) {
  .gallery_area {
    margin-inline: calc((100vw - 90%) / 2 * -1);
  }
}

.gallery_area .conte {
  position: relative;
  overflow: hidden;
}
.gallery_area .conte img {
  transition: scale 0.3s ease;
}

.gallery_area .conte a {
  text-decoration: none;
  display: block;
}
.gallery_area .conte a:hover {
  opacity: 0.75;
}
.gallery_area .conte a:hover img {
  scale: 1.1;
}

.gallery_area .conte .count {
  color: var(--grayColor);
  font-size: 0.85em;
  line-height: 1;
  background-color: var(--whiteColor);
  border: 1px solid var(--grayColor);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.gallery_area .conte img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ol {
  margin-inline: 1em;
  display: flex;
  justify-content: center;
}

.navigation ol li {
  margin-inline: 1px;
  list-style: none;
}

.navigation ol li a,
.navigation ol li .current {
  font-size: 0.85em;
  line-height: 1;
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ol li a {
  color: var(--primaryColor);
  background-color: var(--grayBgColor);
}

.navigation ol li a:hover,
.navigation ol li .current {
  color: var(--whiteColor);
  background-color: var(--primaryColor);
}

.footer {
  text-align: center;
}

.footer p {
  font-size: 0.85em;
}

.error {
  color: var(--attentionColor);
  font-weight: 700;
}

.success {
  padding: 1em 0.5em;
  color: var(--whiteColor);
  font-weight: 700;
  text-align: center;
  background-color: var(--primaryColor);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  animation: 3s fadeOut;
  pointer-events: none;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}


/**
  * form
  */

input, textarea, button {
  color: var(--baseColor);
  font-size: 1rem;
  font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  line-height: 1.6;
  background-color: transparent;
  border: none;
  border-radius: 0;
  appearance: none;
}

input:focus,
textarea:focus {
  outline: 4px solid var(--primaryColor);
}

input:not([type="radio"]),
textarea {
  padding: 0.25em;
  border: 1px solid var(--baseColor);
  border-radius: 5px;
  width: 100%;
}

textarea {
  height: 7em;
  display: block;
}

input[type="radio"] {
  width: 1px;
  height: 1px;
}

button {
  padding: 0.25em 0.75em;
  color: var(--whiteColor);
  text-align: center;
  background-color: var(--baseColor);
  border-radius: 5px;
  width: 100px;
  transition: all 0.3s;
  cursor: pointer;
}
button:hover {
  background-color: var(--primaryColor);
}

.form_area {
  margin-top: 2em;
  padding-top: 2.5em;
  border-top: 1px solid var(--grayColor);
}

.emoji_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.emoji_list li {
  margin: 0 0.5em 0.25em;
  font-size: 1.25em;
  list-style: none;
}

.emoji_list label {
  padding: 0.25em 0.5em;
  border: 1px solid var(--grayColor);
  border-radius: 100vmax;
  transition: all 0.3s;
  display: block;
  cursor: pointer;
}
.emoji_list label:hover,
.emoji_list label:has(input[type="radio"]:checked) {
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}

.form_area dl {
  margin-top: 1.5em;
}

.form_area dt {
  margin-bottom: 0.25em;
  font-weight: 700;
}
.form_area dd + dt {
  margin-top: 1.5em;
}

.form_area .btn_area {
  margin-top: 1.5em;
  text-align: center;
}

